
@media(max-width:550px){
    header{
        max-width: 90vw;
    }
    .titulo{
        font-size: 1.8rem;
    }
    .titulo .quantidade-nova{
        font-size: 1.5rem;
    }
    .notificacao{
        max-width: 90vw;
    }
    .notificacao .postagem {
        padding: 0 5px;
    }
    .notificacao .postagem .mensagem {
        margin: 0 15px;
    }
}
@media(max-width:375px){
    .imagem-notificacao{
        margin-left:10px ;
    }
}